* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

section {
    padding: 3.75rem;
}

  /* header styles */
  header {
      padding: 1.25rem 1.82rem;
      background-color: #39a6b2;
  }

  header h1 {
      font-weight: bold;
      font-size: 2.2rem;
      color: #fce138;
      margin: 0;
      display: inline;
  }

  header a {
      text-decoration: none;
      color: #fce138;
  }

  header nav {
      float: right;
      margin: .5rem 0;
  }

  header nav ul li {
      display: inline;
  }

  header nav ul li a {
      margin: 0 1.85rem;
      font-weight: lighter;
      font-size: 1.6rem
  }
/* header end */


/* hero style start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 37.5rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    padding: 1.25rem;
    width: 31.25rem;
    color: #024e76;
    position:absolute;
    bottom: 7.5rem;
    right: 8.75rem;
}

.hero-form h3 {
    font-size: 1.3rem;
    margin: 0;
}

.hero-form p {
    margin: .3125rem 0 .95rem 0;
}

/* .hero-form label {
    margin: 0 .3125rem
} */

.form-input{
    border: 1px solid #024e76;
    display: block;
    padding: .44rem .95rem;
    font-size: 1rem;
    color: #024e76;
    width: 100%;
    margin-bottom: .95rem;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: .625rem 1.25rem;
    font-size: 1rem;
    float: right;
}
/* hero style end */

/* intro styles */

.intro {
    text-align: center;
}

.intro h2 {
    display: inline-block;
    font-size: 3.4375rem;
    color: #024e76;
    margin-bottom: 2.1875rem;
    padding: 0 6.25rem 1.25 6.25rem;
    border-bottom: .1875rem solid #fce138;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 1.25rem;
    margin: auto;
}
/* intro styles end */

  /*  footer styles */
  footer {
    background: #fce138;
    width: 100%;
    padding: 2.5rem 2.18rem;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 1.875rem;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

/* footer style end */