* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

section {
    padding: 3.75rem;
}

.section-title {
    display: inline-block;
    font-size: 3.4375rem;
    color: #024e76;
    margin-bottom: 2.1875rem;
    padding: 0 6.25rem 1.25rem 6.25rem;
    border-bottom: .1875rem solid
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

  /* header styles */
  header {
      padding: 1.25rem 1.82rem;
      background-color: #39a6b2;
  }

  header h1 {
      font-weight: bold;
      font-size: 2.2rem;
      color: #fce138;
      margin: 0;
      display: inline;
  }

  header a {
      text-decoration: none;
      color: #fce138;
  }

  header nav {
      float: right;
      margin: .5rem 0;
  }

  header nav ul li {
      display: inline;
  }

  header nav ul li a {
      margin: 0 1.85rem;
      font-weight: lighter;
      font-size: 1.6rem
  }
/* header end */


/* hero style start */
.hero {
    background-image: url("../images/hero/hero-bg.jpg");
    height: 37.5rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    padding: 1.25rem;
    width: 31.25rem;
    color: #024e76;
    position:absolute;
    bottom: 7.5rem;
    right: 8.75rem;
}

.hero-form h3 {
    font-size: 1.3rem;
    margin: 0;
}

.hero-form p {
    margin: .3125rem 0 .95rem 0;
}

/* .hero-form label {
    margin: 0 .3125rem
} */

.form-input{
    border: 1px solid #024e76;
    display: block;
    padding: .44rem .95rem;
    font-size: 1rem;
    color: #024e76;
    width: 100%;
    margin-bottom: .95rem;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: .625rem 1.25rem;
    font-size: 1rem;
    float: right;
}
/* hero style end */

/* intro styles */
.intro {
    text-align: center;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 1.25rem;
    margin: auto;
}
/* intro styles end */

/* steps styles */
.steps {
    text-align: center;
    background: #fce138
}

.steps div {
    margin-bottom: 5rem;
}

.steps img {
    width: 15%;
    margin: .625rem 0;
}

.steps h3 {
    color: #024e76;
    font-size: 2.875rem;
    margin-top: .625rem;
}

.steps span {
    font-size: 2.375rem;
}

.steps p {
    color: #39a6b2;
    font-size: 1.4375rem;
}
/* steps styles end */

/* trainers styles */
.trainers {
    text-align: center;
}

.trainer {
    width: 56.25rem;
    margin: 0 auto 1.875rem auto;
    background: #024e76;
    color: #fce138;
    overflow: auto;
}

.trainer img {
    width: 35%;
    float: left;
}

.trainer-bio {
    padding: 2.1875rem;
    float: left;
    width: 65%;
}

.trainer-bio h3 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 1.625rem;
    margin-bottom: 1.5625rem;
}

.trainer-bio p {
    font-size: 1.0625rem;
    line-height: 1.3;
}
/* trainers end */

  /*  footer styles */
  footer {
    background: #fce138;
    width: 100%;
    padding: 2.5rem 2.18rem;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 1.875rem;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

/* footer style end */